.data {

    text-align: center;
    vertical-align: middle;

    /*display: inline-block;*/
    /*padding:10px;*/

    margin:1px;
}

.blue {
    background-color: blue;
    color:white;
}


.green {
    background-color: green;
    color:white;
}

.yellow {
    background-color: yellow;
    color:black;
}

.orange {
    background-color: orange;
    color:white;
}

.red {
    background-color: red;
    color:white;
}

.gray {
    background-color: lightgray;
    color: lightgray;
}


.datascore {

    text-align: center;

    display: inline-block;
    width:45px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.datagrade {

    text-align: center;
    display: inline-block;
    width:45px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.datalabel {

    font-family: Verdana,Arial Narrow, helvetica, sans-serif;
    font-weight: normal;
    font-size: 90%;

}

table {

    border-collapse:collapse;

}
